.accordion {
	article {
		&.open {
			.content {
				@include opacity(1);
			//	@include vendor-prefix( 'transition', 0, false, $accordion-ease);
			}
		}
		.button.fadeOut {
			@include opacity(0);
		}
		background: #000;
		.button {
			&.hidden {
				display: none;
			}
			display: block;
			width: 100%;
			padding: 7em 0;
			position: relative;
			overflow: hidden;
			@include vendor-prefix( 'transition', $accordion-button-duration, false, $accordion-ease);
			> div {
				background-size: cover;
				background-position: center center;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				@include opacity(.5);
				@include vendor-prefix( 'transition', $rollover-duration, false, $rollover-ease);
			}
			h4 {
				position: relative;
			}
			&:hover {
				> div {
					@include opacity(1);
				}
			}
		}
		.content {
			@extend .collapse;
			overflow: hidden;
			background: $accordion-article-bg-color;
			&.animate {
				@include vendor-prefix( 'transition', $accordion-duration, false, $accordion-ease);
			}
		}
		.video-viewport {
			.cover {
				h2{
					color: #fff;
				}
			}
		}
		.panel {
			background: $accordion-panel-bg;
			float: left;
			// contains either image or copy
			text-align: center;
			width: 100%;
			position: relative;
			&:before {
				content: "";
				display: block;
				padding-top: 100%;
			}
			> .inside {
				position:  absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				img {
					width: 100%;
				}
			}
			.copy {
				width: 75%;
			}
			p{
				text-align: center;
				padding: 0; 
			}
			.padding {
				padding: 2em;
			}
			&.full {
				width: 100%;
			}
			&.half {
				width: 50%;
			}
			&.ratio4_3:before {
				padding-top: 71.42%;
			}
			&.ratio16_9:before {
				padding-top: 56.25%;
			}
			&.ratio2_1:before{
				padding-top: 50%;
			}
			&.ratio1_2:before{
				padding-top: 200%;
			}
			&.mobile {
				float: none !important;
				width: 100% !important;
			}
		}
	}
}